
body {
        font: 13px / 1.231 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
        font-size: 1.6em;
        background: #fff;
        -webkit-font-smoothing: antialiased;
        margin: 0;
    }
