@media (max-width: 768px) {
        body {
            font: 13px/1.231 'ヒラギノ明朝 ProN W3','Hiragino Mincho ProN','HG明朝E','ＭＳ Ｐ明朝','ＭＳ 明朝',serif;
            font-size: 1.6em;
            background: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin: 0
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 1px solid #000000;
        }

        picture {
        position: relative;
        }

        picture p {
        position: absolute;
        }
        /* p {
            white-space: pre-wrap;
        }

        p::after {
        content: "、\A";
        white-space: pre;
        }    } */
}



@media (min-width: 769px) and (max-width: 1023px) {
    body {
        color: #000000;
        margin: 0;
        padding: 0;
        letter-spacing: 0.48px;
        background-color: #F5F3ED;
        font-family: "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        /* font-family: 'Basel', sans-serif; */
        font-size: 13px;
        a {
            transition: all 0.8s ease;
            display: inline-block;
        }
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 1px solid #000000;
        }

        picture {
        position: relative;
        }

        picture p {
        position: absolute;
        }
        /* p {
            white-space: pre-wrap;
        }

        p::after {
        content: "、\A";
        white-space: pre;
        }    } */
}


@media (min-width: 1024px) {
    body {
        color: #000000;
        margin: 0;
        padding: 0;
        letter-spacing: 0.48px;
        background-color: #F5F3ED;
        font-family: "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        /* font-family: 'Basel', sans-serif; */
        font-size: 13px;
        a {
            transition: all 0.8s ease;
            display: inline-block;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 1px solid #000000;
        }

        picture {
        position: relative;
        }

        picture p {
        position: absolute;
        }
        /* p {
            white-space: pre-wrap;
        }

        p::after {
        content: "、\A";
        white-space: pre;
        }    } */
}
}