*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    font-weight: normal;
    margin: 0; /* 全ての要素の余白をリセット */
    padding: 0; /* 全ての要素のパディングをリセット */
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    font-size: 13px; /* 基本のフォントサイズを指定 */
}

h1, h2, h3, h4, button, input, label {
    font-weight: normal;
    line-height: 1.1;
    font-size: inherit; /* 文字サイズを親要素から継承させる */
}

h1, h2, h3, h4 {
    font-weight: normal;
    font-size: inherit; /* ユーザーエージェントのフォントサイズ指定を無効化 */
    text-wrap: balance; /* 長いテキストを均等に分ける */
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

a {
    text-decoration: none;
    color: inherit;
}


img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit; /* フォントの継承 */
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}
button {
    background: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    border: none;
}

p br {
    display: block;
    margin: 0;
    padding: 0;
}
