/* @media (max-width: 767px) { }*/

html {
    scroll-behavior: smooth;
}

/* l-header */
.l-header {
    position: fixed;
    z-index: 2;
    top: 0;
    float: none;
    width: 100%;
    background: #fff;

}

.l-header__inner {
    width: 100%;
    min-width: 0;
    min-height: 0;
    background: #fff;
}

.l-header__language {
    font-size: 13px;
    top: 0;
    bottom: 0;
    left: 16px;
    height: 56px;
    padding: 0;
    border: none;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.l-header__languageSelect {
    color: #757575;
}

.l-header__language > span {
    margin: 0 10px;
}

.l-header__language > a {
    text-decoration: none;
    color: #212121;
}

.l-header__block {
    height: auto;
    min-height: 0;
    padding: 0;
}
/* 開く前のナビボタン */
.l-header__nav {
    font-size: 16px;
    height: auto;
    min-height: 0;
    padding: 0;
    top: 20px;
    right: 16px;
    position: absolute;
    }

.l-header__nav a {
    width: 20px;
    height: 14px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: all .4s;
}

.l-header__nav > a::before {
    top: 0;
    content: '';
    overflow: hidden;
    height: 0;
    padding-top: 1px;
    position: absolute;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    transition: all .4s;
    border-radius: 2px;
    background-color: #424242;
}

.l-header__nav  a > span {
    top: 6px;
    overflow: hidden;
    height: 0;
    padding-top: 1px;
    position: absolute;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    transition: all .4s;
    border-radius: 2px;
    background-color: #424242;
}

.l-header__nav  > a::after {
    bottom: 0;
    content: '';
    overflow: hidden;
    height: 0;
    padding-top: 1px;
    position: absolute;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    transition: all .4s;
    border-radius: 2px;
    background-color: #424242;
}

.l-header__logo {
    top: 0;
    margin: 0;
    padding: 9px 0;
    border-bottom: 1px solid #e5e5e5;
    transition: all .3s;
}

.l-header__logo a {
    display: block;
    width: 39px;
    height: 0;
    margin: 0 auto;
    padding-top: 37px;
    background-image: url(../../images/icon--zuikoudouBlack.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.l-header__logo a > img {
    vertical-align: bottom;
}

/* 開いた後のナビボタン */
.l-header__block--open{
    display: none;
    margin-top: 0;
    height: auto;
    min-height: 0;
    padding: 0;
}

.l-header__navMenu {
    min-width: 0;
    padding: 0 15px;
    transform: none;
    animation: none;
    transition: ease .5s;
}

/* ハンバーガーメニュークリック後のスタイル */
.l-header__nav.active > a::before {
    transform: translateY(6px) rotate(-45deg);
}

.l-header__nav.active span {
    opacity: 0;
}

.l-header__nav.active a::after {
    transform: translateY(-7px) rotate(45deg);
}

.l-header__block--open.active {
    display: block;
    animation: openMenuAnimation .5s ease-in 0s normal none running;
}

@keyframes openMenuAnimation {
    0% {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'
    }

    to {
        opacity: 1;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'
    }
}

.l-header__navMenu--main li {
    margin-bottom: 0;
    border-bottom: 1px solid #f6f6f6;
}

.l-header__navMenu--main a {
    font-size: 16px;
    position: relative;
    display: block;
    padding: 20px 15px;
}

.l-header__navMenu--main a::after {
    position: absolute;
    top: 45%;
    right: 15px;
    content: '→';
    color: #9d8856;
    width: 20px;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-header__navMenu--sub li {
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
    border-bottom: none;
}

.l-header__navMenu--sub li > a {
    display: inline-block;
    object-fit: cover;
    padding: 20px 10px 20px 15px;
}

.icon--facebook {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    object-fit: cover;
}

.icon--instagram {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    object-fit: cover;
}

.l-header__onlineStore {
    width: auto;
    margin: 0 15px;
    padding: 20px 0 0;
}

.btn--onlineStore {
    font-size: 16px;
    position: relative;
    max-height: none;
    padding: 20px 0;
    border-radius: 2px;
    display: block;
    overflow: hidden;
    transition: all .2s;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    color: #fff;
    background: #212121;
}

.l-header__link {
    margin-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}

.l-header__link a {
    font-size: 13px;
    text-decoration: underline;
    color: #212121;
}

/* l-main */
/* mainVisual */
.l-mainVisual {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
}

.mainVisual__title {
    position: absolute;
    left: 50%;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual__logo {
    margin-bottom: 45px;
    width: 75px;
}

.mainVisual__logoText {
    line-height: 2;
    writing-mode: vertical-rl;
    letter-spacing: 4px;
}

.mainVisual__logoText > li:first-child {
    font-size: 14px;
}

.mainVisual__logoText > li:nth-child(2n) {
    font-size: 10px;
    letter-spacing: 8px;
}

.mainVisual__logoText span {
    font-size: 20px;
    margin-top: 15px;
}

.mainVisual__btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    bottom: 5%;
}

.btn--nextPage {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.mainVisual__slide {
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideImg--item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 800ms;
}
.slideImg--item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fade {
0%, 100% { opacity: 0; }
33.33% { opacity: 1; }
}

.slideImg--item:nth-child(1) { animation: fade 9s infinite 0s; }
.slideImg--item:nth-child(2) { animation: fade 9s infinite 3s; }
.slideImg--item:nth-child(3) { animation: fade 9s infinite 6s; }
.slideImg--item:nth-child(4) { animation: fade 9s infinite 9s; }
.slideImg--item:nth-child(5) { animation: fade 9s infinite 12s; }

/* block */
.l-block {
    padding-bottom: 60px;
}

.l-block__hero img {
    width: 100%;
    height: auto;
}

.l-block__inner {
    width: auto;
    padding: 0 15px;
}

.l-block__header {
    padding: 50px 0 40px;
}

.block__title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.block__number {
    font-size: 16px;
    font-style: normal;
    display: block;
    margin-right: 0;
    color: #9d8856;
}

.block__number:after {
    width: 20px;
    margin: 5px auto 20px;
    display: block;
    content: '';
    border-bottom: 1px solid #9d8856;
}

.l-block__more {
    margin-top: 40px;
    padding: 0;
}

.l-block__more p {
    display: block;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.l-block__more a {
    position: relative;
    display: block;
}

.l-block__more i {
    position: absolute;
    right: 20px;
    margin-left: 0;
    color: #9d8856;
    font-style: normal;
}

.l-block__newsMenu {
    border-bottom: 1px solid #f5f5f5;
}

.newsMenu--item a {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    color: #000000;
}

.newsMenu--item > a:hover {
    background: #f4f4f4;
    opacity: 0.8;
}

.newsMenu--title:hover {
    color: #9d8856;
}

.newsMenu--date {
    font-size: 14px;
    color: #757575;
}

/* l-footer */
.l-footer {
    min-width: 0;
    padding-bottom: 60px;
    background: #f4f4f4;
}

.l-footer__nav {
    margin: 0 30px 35px;
    color: #212121;
}

.navMenu--footerItem {
    margin-top: 15px;
}

.l-footer__address {
    font-style: normal;
    margin: 0 30px 35px;
}

.l-footer__address p {
    font-size: 12px;
    color: #757575;
    margin-top: 10px;
}

.l-onlineStore__img {
    margin: 0 30px;
    position: relative;
    font-size: 12px;
}

.l-onlineStore__img a > p:before {
    margin-right: 5px;
    content: '→';
}

.l-onlineStore__img a > p {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #fff;
}

.l-footer__logo--sp {
    margin: 45px auto 0;
    padding: 35px 0;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-footer__logo--sp img {
    width: 90px;
}

.l-footer__logo--pc {
    display: none;
}

.l-onlineStore__bnr {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

.l-onlineStore__bnr i {
    position: absolute;
    top: 25px;
    right: 22px;
    display: inline-block;
    margin: 0;
}

.btn--topPage {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}

.l-footer__top {
    position: relative;
}

.l-footer__bottom {
    width: auto;
    padding: 63px 0 0;
}
.l-header__onlineStore--pc {
    display: none;
}
.l-header__navMenu--pc {
    display: none;
}

.l-header__flex--pc {
    display: block;
}


/* @media (min-width: 768px) and (max-width: 959px) {
} */

@media (min-width: 960px) {

    .l-container {
        min-width: 1125px;
        margin: 0 auto;
    }

    /* l-header */
    .l-header {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 125px;
        background: #fff;
        transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .l-header__navMenu--pc {
        display: block;
    }

    .l-header__navMenu--sp {
        display: none;
    }

    .l-header__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .l-header.active {
        width: 400px;
    }

    .l-header__nav.active > a::before {
        transform: translateY(6px) rotate(-45deg);
    }

    .l-header__nav.active span {
        opacity: 0;
    }

    .l-header__nav.active a::after {
        transform: translateY(-7px) rotate(45deg);
    }

    .l-header__language {
        border-top: 1px solid #eee;
        box-sizing: border-box;
        height: 125px;
        padding: 45px;
        position: static;
    }

    .l-header__block {
        position: static;
        padding: 0;
        border-bottom: 1px solid #eee;
        height: 125px;
        width: 125px;
        padding: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* 開く前のナビボタン */
    .l-header__nav {
        position: static;
    }

    .l-header__nav a {
        width: 30px;
    }

    .l-header__logo {
        transition: all .3s;
        position: static;
        border: none;
        padding: 0;
        height: 125px;
        width: 125px;
    }

    .l-header__logo a {
        padding: 0;
        display: block;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        background-image: url(../../images/icon--zuikoudouBlack.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .l-header__onlineStore--pc  {
        padding: 0;
        height: 125px;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #212121;
    }

    .l-header__onlineStore--pc a {
        font-size: 13px;
    }

    .l-header__onlineStore--pc i {
        display: block;
    }

    .l-header__languageWrap {
        display: flex;
        flex-direction: column;
    }

    .l-header.active > .l-header__inner >.l-header__language,.l-header__block,.l-header__logo, .l-header__onlineStore--pc, .l-header__languageWrap {
        width: 100%;
    }
    .l-header.active > .l-header__inner > .l-header__block {
        justify-content: flex-end;
    }

    .l-header.active > .l-header__inner > .l-header__logo a {
        margin-left: 45px;
    }

    .l-onlineStore__bnr, .l-header__navMenu nav, .l-header__navMenu--main a::after {
        display: none;
    }

    .l-header__navMenu {
        padding: 0;
        min-width: 200px;
        margin-left: 50px;

    }
    .l-header__navMenu--main li {
        border: none;
        margin-bottom: 20px;
    }

    .l-header__navMenu--main a {
        padding: 0;
    }

    .l-header__navMenu--sub li > a {
        padding: 0;
        margin-bottom: 20px;
    }

    .l-header__navMenu--sub {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .l-header__flex--pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* l-main */
    /* mainVisual */

    .l-mainVisual {
        height: 100vh;
    }

    .mainVisual__slide {
        height: 100vh;
    }

    @keyframes progress {
        0% { width: 0%; }
        100% { width: 100%; }
    }

    .slideIndicator--list {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .slideIndicator--item {
        width: 60px;
        height: 2px;
        margin: 0 5px;
        position: relative;
        background: rgba(255, 255, 255, 0.15);
        transition: opacity 2s ease-in-out;/* 次のスライドの切り替わる時間 */
        overflow: hidden;
    }

    .slideIndicator--item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        background: #fff;
        transition: none;
    }

    .slideIndicator--item.active::before {
        animation: progress 4s linear forwards;
    }

    .slideIndicator--item.inactive::before {
        width: 0%;
        opacity: 0;
    }
    .mainVisual__logo {
        display: none;
    }

    .mainVisual__logoText > li:first-child {
        font-size: 18px;
    }

    .mainVisual__logoText > li:nth-child(2n) {
        font-size: 13px;
    }

    .mainVisual__logoText span {
        font-size: 30px;
    }


    .mainVisual__title, .mainVisual__btn {
        left: 75px;
        transform: translateY(-50%);
    }
    .l-block {
        padding-bottom: 180px;
    }

    .l-block__inner {
        box-sizing: content-box;
        width: 940px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .l-block__header {
        padding: 180px 40px 55px;
    }

    .block__title {
        font-size: 28px;
    }

    .l-block__more p, .block__title {
        text-align: start;
        display: flex;
        border: none;
    }

    .block__number {
        margin-right: 45px;
    }

    .block__number:after {
        margin: 5px auto 20px 0;
    }

    .newsMenu--item a {
        padding: 30px 40px;
        text-decoration: none;
        border-top: 1px solid #f5f5f5;
    }

    .newsMenu--article {
        display: flex;
    }

    .newsMenu--date {
        width: 155px;
        font-size: 16px;
    }
    .l-block__more i {
        position: static;
        margin-left: 25px;
    }
    .l-block__description {
        line-height: 2.5;
    }

    .l-footer {
        min-width: 1125px;
        position: relative;
        margin-right: 125px;
    }

    .l-footer__bottom {
        width: 960px;
        margin: 0 auto;
        padding: 130px 70px;
    }

    .l-footer__nav {
        margin: 0;
        color: #212121;
    }

    .l-onlineStore__img {
        margin: 0;
        margin-top: 50px;
    }

    .l-onlineStore__img img {
        width: 425px;
    }

    .l-footer__address {
        margin: 0;
    }

    .l-footer__address p {
        font-size: 16px;
        color: #000;
    }

    .l-footer__address > p:nth-child(2), .l-footer__address > p:nth-child(3) {
        margin-top: 25px;
    }
    .l-footer__logo--sp {
        display: none;
    }
    .l-footer__flex--pc {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    .l-footer__logo--pc {
        display: block;
    }

    .l-footer__logo--pc img {
        height: 130px;
    }

    .l-onlineStore__img a > p {
        left: 20%;
    }

    .btn--topPage {
        top: -40px;
        width: 74px;
        height: 74px;
    }

}